@layer components {
  .wrapper {
    display: inline-flex;
    align-items: center;
    position: relative;
    min-height: 48px;
  }

  .logo {
    display: block;
    height: 48px;
    width: auto;
    max-width: 48px;
    object-fit: contain;
    object-position: left center;
  }

  @media (--mediaTablet) {
    .wrapper {
      min-height: 40px;
    }

    .logo {
      height: 40px;
      max-width: 40px;
    }
  }

  @media (--mediaMobile), (--mediaMobileLandscape) {
    .wrapper {
      min-height: 32px;
    }

    .logo {
      height: 32px;
      max-width: 32px;
    }
  }

  @media (--mediaMobileS) {
    .wrapper {
      min-height: 24px;
    }

    .logo {
      height: 28px;
      max-width: 28px;
    }
  }
}
